*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.input label{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.5rem;
    font-weight: 600;
}
.output{
    min-height: 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    font-weight: 800;   
}
