body{
    background-color: #ffffff;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

#colorChanger{
    height: 40px;
    width: 150px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
